/* Algemene code voor mobiel first version */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {

  overflow-x: hidden;/* Verwijder horizontale scroll */
}

/* Variabelen in de body voor herbruikbare waarden */
body {

  /* font  */
  --font-family-base: 'Lato', Arial, sans-serif;

  /* Kleuren */
  --primary-color: #5115F7;
  --secondary-color: #ffffff;
  --tertiary-color: #f3f3ff;
  --highlight-color: #0099ff;

  --text-color: #333;
  --light-text: #666;
  --dark-text: #555;

  --border-color: #060606;
  --bold-color: #FF4A00;

  --shadow-color: rgba(0, 0, 0, 0.1);

    /* Typografie */

  --font-size-base: 1rem;
  --font-size-medium: 2.25rem;
  --font-size-large: 3rem;
  --font-size-small: 1.125rem;

  --font-weight-bold: 700;
  --font-weight-normal: 400;

   
/* Ruimtes (marges en paddings) */
  --spacing-small: 1.5rem;
  --spacing-medium: 2rem;
  --spacing-large: 5rem;
}




/* Verberg desktop header op mobiele apparaten */
@media (max-width: 1023px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}

/* Header  mobile versie */
.header-mobile{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
}
/* logo image op  mobile versie */
.logo img {
  height: 1.6875rem; 
  display: block;
  width: 4.375rem; 
  margin-top: 0.625rem; 
}

/* Main content styling van het begin titel */
.main-content {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  row-gap: 1rem; 
  width: 100%; 
}

/* Titel styling */
.main-title {
  font-size: 2rem; 
  font-weight: var(  --font-weight-bold);
  text-transform: uppercase;
  width: 100%; 
  font-family: var( --font-family-base);
}


/* Styling specifiek voor "Way." */
.main-title span {
  font-style: normal; 
  font-weight: var(  --font-weight-normal); 
  display: inline-block; 
  font-size: 1.5rem; 
  font-family: var( --font-family-base);
}


/* Menu-knop */
.menu-button {
  background: none;
  border: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
  cursor: pointer;
  justify-self: end;

}

/* Regencontainer animatie  */
#rain-container {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100vw;
  height: 55%;
  pointer-events: none;
  overflow: hidden;
}

/* Regenanimatie */
.droplet {
  position: absolute;
  top: 10%;
  left: 0;
  background-color: rgb(232, 230, 230);
  opacity: 0.8;
  height: 2.5rem;
  width: 0.125rem;
  border-radius: 0.125rem;
}


/* Video Background Sectie */
.video-section {
  position: relative;
  width:80%;
  height: 12.5rem;
  overflow: hidden;
  z-index: 1;
  margin: 1.5625rem auto;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}


/* Wrapper voor de Weather Planner-pagina */
.page-wrapper {
  margin: var(--spacing-large) auto;
  padding: var(--spacing-medium) var(--spacing-small);
  background-color: var(--primary-color); 
  color: var(--secondary-color); 
  box-shadow: 0 4px 8px var(--shadow-color);
  text-align: left; 
}

/* Stijling voor het logo van de Weather Planner */
.logo {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-small); 
}

/* Stijling voor h2-titels in de Weather Planner-sectie. */
h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  font-family: var( --font-family-base);
  margin: 0;
  text-transform: none;
  line-height: 1.5;
  margin-bottom: var(--spacing-medium); 
}

/* Paragraafstijl voor de Weather Planner content */
p {
  font-size: var(--font-size-small);
  font-family: var( --font-family-base);
  line-height: 1.8;
  margin-bottom: var(--spacing-small); 
  font-family:var(--font-family-base);
  color: #CCCCCC;  letter-spacing: 0.09rem;

}

/* "Read More" knop stijl */
.toggle-content-btn {
  margin-top: var(--spacing-small);
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: none; 
  font-size: var(--font-size-base); 
}

/* "Read Less"  link stijl */
.read-less {
  display: none; 
  margin-top: var(--spacing-small);
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base); 
}

/* Klasse om verborgen elementen te verbergen */
.hidden {
  display: none;
}


/* Stijling voor de temperatuur box */
.temperature-box {
  margin-top: 6.25rem; 
}

/* Container voor de temperatuur-slider sectie */
.slider-container {
  width: 100%;
  margin: 1.5rem 0;
}

/* Label voor de temperatuur-slider */
label[for="slider"] {
  font-size: 1.1rem; 
  font-weight: bold; 
  text-align: left; 
  display: block;
  margin-bottom: 0.5rem; 
  letter-spacing: 0.09rem; 
}

/* Stijling voor de temperatuur-slider */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.625rem; 
  background: linear-gradient(to right, #43A047, #FFC857, #FF7043);
  border-radius: 0.3125rem; 
  outline: none;
  cursor: pointer;
}

/* Slider duim-stijling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5625rem; 
  height: 1.5625rem; 
  border-radius: 50%; 
  background: #FFC857;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3); 
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Hover-effect op de slider duim */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #0467d8;
  transform: scale(1.05); /* Vergroot de knop licht bij hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Tijdlabels voor de temperatuur-slider */
.time-labels {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #FFC857;
  margin-top: 1rem;
}

/* Tijdlabels stijl */
.time-labels span {
  font-size: 0.9rem;
}

/* Stijling voor de temperatuurweergave */
.temperature-section p {
  font-size: 1.1rem;
  color: var( --secondary-color);
  margin: 1rem 0; 
  line-height: 1.6; 
  text-align: left;
  margin-left: 0.625rem; 
  margin-right: 0.625rem; 
  letter-spacing: 0.09rem; 
}

/* Markeer graden binnen de temperatuurweergave */
.temperature-section p span {
  font-weight: var(  --font-weight-bold);
  color: #FFC857; 
  letter-spacing: 0.09rem;
}

/* Hoofdsectie voor de activiteitenweergave */
#weather-activities {
  padding: 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 37.5rem;
  margin: 7rem auto;
  background: linear-gradient(135deg, #4c23d6, #311ee7);
  color:var( --secondary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover-effect voor de activiteitensectie */
#weather-activities:hover {
  transform: translateY(-0.625rem);
  box-shadow: 
    0 0.75rem 2.25rem rgba(0, 0, 0, 0.4), 
    0 0 1.25rem rgba(255, 255, 255, 0.2);
}

/* Titelstijl binnen de activiteitensectie */
#weather-activities h1 {
  font-size: 1.8rem;
  font-family: var( --font-family-base);
  margin-bottom: 2rem;
  color: var( --secondary-color);
  text-align: left;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

/* Paragraafstijl binnen de activiteitensectie */
#weather-activities p {
  font-size:var(--font-size-base);
  font-family: var( --font-family-base);
  color: #eaf2ff;
  margin-bottom: 4rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  text-align: left;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

/* Labelstijl voor formulier in de activiteitensectie */
#weather-activities .content form label {
  display: block;
  font-size:var(--font-size-base);
  margin-bottom: 0.3125rem;
  color: #eaf2ff;
}

/* Formuliercontainer binnen de activiteitensectie */
#weather-activities .content form {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

/* Inputveldstijl in het activiteitenformulier */
#weather-activities .content form input {
  width: 100%;
  max-width: 21.875rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  border-radius: 1.875rem;
  background: rgba(255, 255, 255, 0.1);
  color: var( --secondary-color);
  text-align: center;
  outline: none;
  transition: all 0.3s ease;
}

/* Placeholderstijl in het activiteitenformulier */
#weather-activities  .content form input::placeholder {
  color: #c4c4c4;
}

/* Focusstijl voor inputvelden in het activiteitenformulier */
#weather-activities .content form input:focus {
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.5); 
  background: rgba(255, 255, 255, 0.2);
}

/* Stijling voor de knop in het activiteitenformulier */
#weather-activities .content form button {
  width: 100%;
  max-width: 21.875rem;
  padding: 0.8rem; 
  font-size: 1rem; 
  font-weight: bold;
  color: var( --secondary-color);
  background: linear-gradient(135deg, #3e8ef7, #5ab3f7);
  border: none;
  border-radius: 1.875rem; 
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3); 
}

/* Hover-effect voor de knop */
#weather-activities .content form button:hover {
  background: linear-gradient(135deg, #5e35ff, #4136ff);
  transform: translateY(-0.125rem); 
  box-shadow: 0 0.375rem 0.875rem rgba(94, 53, 255, 0.6);
}

/* Actieve stijl voor de knop */
#weather-activities  .content form button:active {
  transform: scale(0.96);
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.3); 
}




/* Activity's card waar de informatie staat over welke activiteit je kan doen per temperatuur */
.activity-card {
  background: linear-gradient(145deg, #4c23d6, #6a5df8); /* Elegante paarse en blauwe gradient */
  backdrop-filter: blur(0.5rem);  /* Glasachtig effect */
  border-radius: 0.75rem; 
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
  padding: 1rem; 
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1.5rem;
}


/* Stijling voor de titel (h3) van de activiteitencard */
.activity-card h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var( --secondary-color);
  font-family: var( --font-family-base);
  font-weight: var(  --font-weight-bold);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.0625rem; 
  position: relative;
  text-shadow: 0 0.125rem 0.3125rem rgba(255, 255, 255, 0.6); 
}


/* Stijling voor de decoratieve lijn onder de titel (h3) */
.activity-card h3::after {
  content: "";
  font-size: var( --font-family-base);
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%; 
  height: 0.25rem; 
  background: linear-gradient(90deg, #ff7518, #5115F7);
  border-radius: 0.3125rem; 
}



/* Activity's view button opmaak */
 .view-event-button {
  padding: 0.625rem 1.25rem; 
  background: linear-gradient(145deg, #4c23d6, #6a5df8); /* Elegante paarse en blauwe gradient */
  color:  var( --secondary-color);
  font-size: var(--font-size-base);
  font-weight: var(  --font-weight-bold);
  border: none;
  border-radius: 1.5625rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 0.1rem; 

}


/* Activity's view button hover opmaak */
.activity-card .view-event-button:hover {
  transform: scale(1.05); /* Vergroot de knop licht bij hover */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}


/* Stijl voor de knop tijdens actieve status (ingedrukt) */

  .view-event-button:active {
    transform: scale(0.95);
  }

/* De h2 tekst in de card */
.section {
  margin-bottom: 1.5rem; 
  display: none;
}

/* De lijsten in de card */
.activity-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem; 
}

/* De lijst images die in de card worden weergegeven */
.activity-card img {
  width: 100%;
  height: 15.625rem; 
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1.8rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

/* De hover van de lijst images */
.activity-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); 
}


/* Stijling voor de afbeelding in de carousel-slider */
#carousel-image {
  width: 100%;
  height: 20rem; 
  object-fit: cover;
  border-radius: 0.75rem; 
  margin-bottom: 1rem;
}

/* Stijling voor de overlay van de carousel-slider */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


/* Stijling voor de modal in de carousel-slider */
.modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--secondary-color);
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.1);
  width: 90%;
  z-index: 1000;
  overflow-y: auto;
  max-height: 80vh;
  margin-bottom: 2rem; /* Voeg meer ruimte toe onder elke modal */

}


/* Stijling voor paragrafen in de modal */
.modal p {
  font-size: var(--font-size-base);
  line-height: 1.8;
  color: var(--secondary-color);
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
  font-family: var(--font-family-base);
  text-align: justify;

}


/* Stijling voor de titel (h2) in de modal */
.modal h2 {
  font-family: var(--font-family-base);
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  color: transparent; /* Transparante tekst bij start */
  margin-bottom: 2rem;
  margin-top: 0.725rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  position: relative;
  display: inline-block;
  -webkit-text-stroke: 0.1rem var(  --secondary-color); 
  animation: text-animation 4s ease-in-out forwards; /* Animatie toegepast */
}

/* Definieer de animatie */
@keyframes text-animation {
  0% {
    color: transparent; /* Begin met transparante kleur */
    -webkit-text-stroke: 0.1rem var(  --secondary-color); /* Alleen de rand zichtbaar */
    opacity: 0;
  }
  50% {
    opacity: 1; /* Maak het element zichtbaar */
    color: transparent; /* Alleen rand zichtbaar */
  }
  100% {
    color: var(  --secondary-color); /* Vul de tekst met witte kleur */
    -webkit-text-stroke: 0; /* Verwijder de rand */
  }
}



/* Stijling voor de sluitknop van de modal */
.close-modal {
  position: absolute;
  top: 0.625rem; 
  right: 0.625rem; 
  width: 2.25rem; 
  height: 2.25rem;
  cursor: pointer;
  background-color: rgba(62, 142, 247, 0.8);
  border: none;
  border-radius: 50%;
  z-index: 1001;
  transition: background-color 0.3s ease;
}

/* Hover-effect voor de sluitknop */
.close-modal:hover {
  background-color: rgba(62, 142, 247, 1);
}

/* Kruisicoon in de sluitknop (via before en after pseudo-elementen) */
.close-modal::before,
.close-modal::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem; 
  height: 0.125rem; 
  background-color:  var( --secondary-color);
  transform-origin: center;
}

.close-modal::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-modal::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Stijling voor de carousel-bedieningselementen */
.carousel-controls {
  text-align: center; 
  margin-top: 1.25rem; 
}

/* Stijling voor de knoppen in de carousel-bediening */
.carousel-controls button {
  backdrop-filter: blur(1.25rem); 
  background: linear-gradient(135deg, #3e8ef7, #6a5df8); 
  box-shadow: 
    0 0.75rem 1.875rem rgba(62, 142, 247, 0.5), 
    0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2); 
  color:  var( --secondary-color);
  border: none;
  border-radius: 3.125rem; 
  padding: 0.75rem 2.25rem; 
  cursor: pointer;
  font-size: var(--font-size-base);
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4); 
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  margin-bottom: 2rem; /* Pas deze waarde aan voor meer/minder ruimte */

}

/* Hover-effect voor de knoppen in de carousel-bediening */
.carousel-controls button:hover {
  background: linear-gradient(135deg, #6a5df8, #3e8ef7); 
  transform: translateY(-0.3125rem) scale(1.1); 
  box-shadow: 
    0 0.9375rem 2.1875rem rgba(62, 142, 247, 0.6), 
    0 0.375rem 1.25rem rgba(0, 0, 0, 0.3); 
}

/* Actieve status voor de knoppen in de carousel-bediening */
.carousel-controls button:active {
  transform: translateY(0.125rem) scale(0.98);
  box-shadow: 
    0 0.5rem 1.25rem rgba(62, 142, 247, 0.4), 
    0 0.125rem 0.625rem rgba(0, 0, 0, 0.2); 
}



/* Stijling voor de forecast-sectie (aankomende temperaturen) */
.forecast-section {
  margin: 1.5rem auto;
  width: 85%;
  text-align: left;
  border-radius: 0.625rem; 
  margin-top: 9.375rem; 
}

/* Stijling voor de titel van de forecast-sectie */
.section-title {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  margin-bottom: 1rem;
  color: var( --secondary-color);
  font-weight: var(  --font-weight-bold);
  text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3); 
  font-family: var( --font-family-base);
}

/* Stijling voor de lijst met weersvoorspellingen */
.forecast-list {
  list-style: none;
  letter-spacing: 0.09rem;
}

/* Stijling voor een individueel item in de weersvoorspellingen */
.forecast-item {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; 
  border-bottom: 0.0625rem solid  var( --secondary-color);
}

.forecast-item:last-child {
  border-bottom: none; 
}

/* Stijling voor de dagnaam in de forecast-items */
.forecast-item .day {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var( --secondary-color);
  margin-bottom: 0;
}

/* Stijling voor de details in de weersvoorspellingen */
.details {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 0.5rem; 
  align-items: center;
  letter-spacing: 0.09rem;
}

/* Stijling voor iconen in de forecast-sectie */
.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

/* Specifieke stijl voor een zon-icoon */
.icon.sun {
  background: radial-gradient(circle, #f90 50%, transparent 51%);
  border-radius: 50%;
}

/* Specifieke stijl voor een waterdruppel-icoon */
.icon.water::before {
  content: '💧';
  font-size: 1.2rem;
  position: relative;
}




/* Stijling voor de nieuwsbrief-sectie */
.newsletter-section {
  margin: 7rem auto;
  padding: 2.5rem 1.5rem; 
  border-radius: 1.25rem; 
  box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.25); 
  background: linear-gradient(135deg, #4c23d6, #311ee7); 
  text-align: center;
  color:  var( --secondary-color);
}

/* Stijling voor de titel (h2) van de nieuwsbrief-sectie */
.newsletter-section h2 {
  font-size: 1.8rem;
  font-weight: var(  --font-weight-bold);
  margin-bottom: 0.5rem; 
  font-family: var( --font-family-base);
}

/* Stijling voor de beschrijvingstekst in de nieuwsbrief-sectie */
.newsletter-section p {
  font-size: var(--font-size-base);
  color: #eaf2ff;
  margin-bottom: 1.5rem; 
  font-family: var( --font-family-base);
}

/* Stijling voor het formulier in de nieuwsbrief-sectie */
.newsletter-form {
  display: grid;
  gap: 1rem; 
  justify-items: center;
}

/* Stijling voor het invoerveld in de nieuwsbrief-sectie */
.newsletter-form input {
  width: 90%;
  max-width: 21.875rem;
  padding: 0.8rem; 
  font-size: 1rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5); 
  border-radius: 1.875rem;
  background: rgba(255, 255, 255, 0.1);
  color: var( --secondary-color);
  text-align: center;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
}

/* Stijling voor de placeholder-tekst in het invoerveld */
.newsletter-form input::placeholder {
  color: #c4c4c4; 
}

/* Focusstijl voor het invoerveld */
.newsletter-form input:focus {
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.8); 
}

/* Stijling voor de knop in het nieuwsbrief-formulier */
.newsletter-form button {
  width: 90%;
  max-width: 21.875rem; 
  padding: 0.8rem; 
  font-size: 1rem;
  font-weight: bold;
  color: var( --secondary-color);
  background: linear-gradient(135deg, #3e8ef7, #5ab3f7);
  border: none;
  border-radius: 1.875rem; 
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 
    0 0.25rem 0.625rem rgba(255, 255, 255, 0.3), 
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.2); 
}

/* Hover-effect voor de knop in het nieuwsbrief-formulier */
.newsletter-form button:hover {
  background: linear-gradient(135deg, #5e35ff, #4136ff); 
  box-shadow: 0 0 0.9375rem rgba(94, 53, 255, 0.6); 
  transform: translateY(-0.125rem) scale(1.02);
}

/* Actieve status voor de knop in het nieuwsbrief-formulier */
.newsletter-form button:active {
  transform: scale(0.98); /* Indrukken */
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2); 
}

/* Mediaquery voor kleine schermen - verberg geanimeerde wolken */
@media (max-width: 48rem) { 
  .animated-cloud {
    display: none;
  }
}




/* Algemene styling voor de mobiele footer */
.mobile-footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 2rem;
  color: var(--text-color);
  margin: 4rem auto 0 auto; 
}

/* Styling voor de topsectie: "SUBSCRIBE TO OUR NEWSLETTER" en "GET IN TOUCH WITH US" */
.footer-section:first-child {
  border-top: 0.1rem solid rgb(103, 100, 100);
  padding-bottom: 2rem;
}

/* Styling voor footer-items */
.footer-item {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgb(103, 100, 100); 
  margin: 0;
}

/* Styling voor social media links in de footer */
.social-links {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem; 
  text-align: center; 
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgb(103, 100, 100); 
}

.social-links .footer-item {
  border-bottom: none; 
  padding: 0;
  margin: 0;
}

/* Styling voor de "ABOUT"-sectie in de footer */
.about-section {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start; 
  gap: 2rem; 
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0; 

}

/* Styling voor de tekst in de "ABOUT"-sectie */
.about-section .footer-item {
  padding: 0.3rem;
  border-bottom: none;
}


/* Styling voor het certificeringslogo in de "ABOUT"-sectie */
.about-section .certified-logo {
  justify-self: end; 
  padding-right: 2rem; 
}

.about-section .certified-logo img {
  width: 3rem; 
  height: auto;
  display: block; 
  margin-top: 0; 
}

/* Extra algemene styling voor footer-secties */
.footer-section {
  margin: 0 auto;
}

/* Styling voor de logosectie in de footer */
.logo-section {
  text-align: center;
  margin: 2rem 0;
  position: relative; 
}

.dept-logo {
  width: 22rem; 
  margin: 0 auto;
  display: block;
}

/* Styling voor de locatie-toggle in de footer */
.location-toggle {
  font-size: var(--font-size-base);
  font-weight: 400; 
  text-transform: uppercase;
  margin-top: 2rem;
  text-align: center;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  margin-left: 0.2rem;
  transition: transform 0.3s ease;
}

/* Styling voor het locatie-menu in de footer */
.location-menu {
  display: none; 
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  position: absolute;
  top: auto; 
  bottom: calc(40% - 2rem); /* Verplaats menu meer naar beneden */
  left: 50%;
  transform: translateX(-50%); 
  width: 12.5rem;
  text-align: left;
  background:  var( --secondary-color); 
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.location-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.location-menu li:hover {
  background-color: var(--tertiary-color);
}

/* Styling voor de apparel-sectie in de footer */
.dept-apparel {
  background-color: var(--bold-color); 
  padding: 1rem; 
  text-align: left; 
  position: relative;
}

.block-footer-v2__apparel-logo {
  position: relative;
  left: 5%; 
}

.apparel-arrow {
  position: absolute;
  right: 1rem; 
  transform: translateY(-90%) rotate(-2deg); 
}

.apparel-arrow svg {
  width: 1.3rem; 
  height: 1.3rem; 
  margin-bottom: 10%;
}

.apparel-items img {
  display: inline-block;
  width: 70%;
  height: auto; 
  max-height: 4.5rem; 
  margin-right: 1rem; 
  margin-top: 5%;
}

/* Styling voor de details in de apparel-sectie */
.apparel-details {
  font-family: var(  --font-family-base);
  font-size: 1.875rem;
  margin-top: 0.5rem; 
  text-align: left;
  display: flex;
}







